<% title @league.name %>
<p>
  <strong>Trade Deadline:</strong>
  <%=h @league.trade_deadline %>
<br/>
  <strong>Playoffs Start On:</strong>
  <%=h @league.playoffs_start_on %>
</p>

<p>
	<strong>Teams</strong>
	<br/>
	<% @teams.each do |f| %>
	  <%= link_to f.name, f %>
	  <br/>
	<% end %>
</p>

<p>
	<strong>Free Agents</strong>
	<br/>
	<% @available_players.each do |p| %>
	  <%= link_to "+", {:controller => 'roster_assignments', :action => 'create', :id => p.id }, :confirm => "Really? Are you serious? One last chance to redeem yourself (push cancel)", :method => :post %>
	  <%= link_to p.name, p %>
	  <%= p.nhl_team.abbreviation %>
	  <%= p.positions.collect{|pos| pos.abbreviation} %>
	  <br/>
	<% end %>

<p>
  <%= link_to "Edit", edit_league_path(@league) %> |
  <%= link_to "Destroy", @league, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", leagues_path %>
</p>
