<% title "Fantsay Team" %>

<p>
  <strong>Name:</strong>
  <%=h @fantsay_team.name %>
</p>
<p>
  <strong>League:</strong>
  <%=h @fantsay_team.league_id %>
</p>
<p>
  <strong>User:</strong>
  <%=h @fantsay_team.user_id %>
</p>

<p>
  <%= link_to "Edit", edit_fantsay_team_path(@fantsay_team) %> |
  <%= link_to "Destroy", @fantsay_team, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", fantsay_teams_path %>
</p>
