- form_for @fantasy_season do |f|
  = f.error_messages

  %p
    = f.label "NHL Season"
    %br
    = f.collection_select('nhl_season_id', @nhl_seasons, 'id', 'name')
  %p
    = f.label "League"
    %br
    = f.collection_select('league_id', @leagues, 'id', 'name')
  %p
    = f.submit "Submit"