- content_for :stylesheet_includes do
  = stylesheet_link_tag 'clocks/retro.css', 'clocks/retro.countdown.css'
  
- content_for :javascript_includes do
  = javascript_include_tag "jquery/jquery.epiclock.min.js", "jquery/epiclock.retro.min.js", 
  = javascript_include_tag "jquery/jquery.quicksearch.js", "quick_search.js", "draft_timer.js"

%br
%hr

#content
  %table#draft_table
    %tbody
      - @available_players.each do |player|
        %tr.row
          %td.player-photo= image_tag player.photo.url(:thumb)
          %td.player-positions= player.positions.collect{|pos| pos.abbreviation}.join('/')
          - if @current_draft_pick
            %td.add-player= link_to(image_tag("icons/add_to_roster.png"), {:controller => 'roster_assignments', :action => 'create', :id => player.id, :draft_player => true, :draft_pick => @current_draft_pick.id}, :confirm => "Are you sure? This will draft #{player.name} onto #{@current_draft_pick.fantasy_team.name}!", :method => :post)
            %td.add-player= link_to(image_tag("icons/add_to_minor_roster.jpg"), {:controller => 'roster_assignments', :action => 'create', :id => player.id, :draft_player => true, :minor_league => true, :draft_pick => @current_draft_pick.id}, :confirm => "Are you sure? This will draft #{player.name} onto the minor league roster for #{@current_draft_pick.fantasy_team.name}!", :method => :post)
            
          
          %td.player-name= player.name
          %td.nhl-team-photo= image_tag player.nhl_team.photo.url(:thumb), :class => 'small-photo'

#sidebar
  %h3 F A N T A S Y  &nbsp; H O C K E Y &nbsp;  A P P
  %hr
  %ul#account_navigation
    - if current_user
      %li
        |
      %li= link_to "add player", new_player_path, :rel => "facebox"
      %li
        |
      %li= link_to "account", logout_path
      %li
        |
      %li= link_to "log out", edit_user_path(:current)
      %li
        |
    - else
      %li= link_to "register", new_user_path
      |
      %li= link_to "login", login_path
  %hr
  %p
    #liveSearch
  %p
    #epiClock
  - if @current_draft_pick
    %p
      %hr
      %table#running-picks-list
        - if @previous_draft_picks
          - @previous_draft_picks.each do |draft_pick|
            %tr
              %td.previous-pick.fantasy_team_photo
                = image_tag draft_pick.fantasy_team.photo.url(:thumb)
              %td.previous-pick
                = draft_pick.fantasy_team.name
        %tr.current-pick
          %td.border-left
            = image_tag @current_draft_pick.fantasy_team.photo.url(:small)
          %td.border-right
            %a= "#{@current_draft_pick.fantasy_team.name}"
        - @upcoming_draft_picks.each do |draft_pick|
          %tr
            %td.upcoming-pick.fantasy_team_photo
              = image_tag draft_pick.fantasy_team.photo.url(:thumb)
            %td.upcoming-pick
              = draft_pick.fantasy_team.name