- content_for :javascript_includes do
  = javascript_include_tag "jquery/jquery.quicksearch.js", "quick_search.js"

%br
%hr

#content
  %table#draft_table
    %tbody
      - @draft_picks.each_with_index do |draft_pick,index|
        %tr.row
          %td.row-number= image_tag "numbers/#{index + 1}-normal.png", :class => 'number'
          %td.add-player= image_tag draft_pick.fantasy_team.photo.url(:small) rescue nil
          %td.player-name= draft_pick.fantasy_team.name
          %td.player-photo= image_tag draft_pick.player.photo.url(:thumb)
          %td.player-positions= draft_pick.player.positions.collect{|position| position.abbreviation}.join('/')
          %td.player-name= draft_pick.player.name
          %td.nhl-team-photo= image_tag draft_pick.player.nhl_team.photo.url(:thumb), :class => 'small-photo'
          %td.nhl-team-photo= link_to image_tag("icons/yahoo.gif"), "http://sports.yahoo.com/nhl/players/#{draft_pick.id}"

#sidebar
  %h3 F A N T A S Y  &nbsp; H O C K E Y &nbsp;  A P P
  %hr
  %ul#account_navigation
    - if current_user
      %li
        |
      %li= link_to "new league", new_league_path
      %li
        |
      %li= link_to "account", logout_path
      %li
        |
      %li= link_to "log out", edit_user_path(:current)
      %li
        |
    - else
      %li= link_to "register", new_user_path
      |
      %li= link_to "login", login_path
  %hr
  %p
    #liveSearch