- content_for :javascript_includes do
  = javascript_include_tag "application.js"
  - if @current_state == 'pre_season'
    = javascript_include_tag "fantasy_season.js"

%p
  %h4 Details

  %strong Season:
  =h @fantasy_season.nhl_season.name
  
  %br 
  
  %strong League:
  = link_to @fantasy_season.league.name, @fantasy_season.league

  %br
  
  = display_actions(@fantasy_season)
  |
  = link_to "view all", fantasy_seasons_path
  |
  if commissioner?
    = link_to "snap draft", {:controller => 'fantasy_seasons', :action => 'snap_draft', :id => @fantasy_season}, :method => 'post'
    |
  = link_to "enter draft", draft_fantasy_season_path(@fantasy_season)

%p
  %h4 Teams
  %ul#fantasy-teams-list
    - @fantasy_season.fantasy_teams.each_with_index do |fantasy_team,i|
      %li{:id => "fantasy_team_#{fantasy_team.id}"}
        - if @current_state == 'pre_season'
          %span.handle [drag]
        %span.name= fantasy_team.name


%p
  %h4 Matchups
  - @all_matchups.each_with_index do |weekly_matchups,i|
    %strong= "Week #" + (i + 1).to_s
    %br
    - weekly_matchups.to_h.each do |home,away|
      = display_matchup(home,away)
      %br
    %br