<% title @fantasy_team.name %>

<p>
  <strong>League:</strong>
  <%= link_to @fantasy_team.fantasy_seasons.last.league.name, @fantasy_team.league rescue nil %>
  <strong>User:</strong>
  <%=h @fantasy_team.user.name %>
</p>

<table>
  <tr>
    <th>NHL Players</th>
  </tr>
<% @fantasy_team.nhl_players.each do |p| %>
  <tr>
    <td>
      <%= link_to "-", {:controller => 'roster_assignments', :action => 'destroy', :id => p.id}, :method => :delete, :confirm => "Are you sure you want to remove #{p.name}" %>
      <%= link_to p.name, p rescue nil %>
  	</td>
  </tr>
<% end %>
</table>

<table>
	<tr>
		<th>NHL Goalie</th>
	</tr>
<% @fantasy_team.players.goalies.each do |p| %>
  <tr>
    <td>
      <%= link_to "-", {:controller => 'roster_assignments', :action => 'destroy', :id => p.id}, :method => :delete, :confirm => "Are you sure you want to remove #{p.name}" %>
      <%= link_to p.name, p rescue nil %>
  	</td>
  </tr>
<% end %>
</table>

<table>
  <tr>
    <th>Minor Leaguers</th>
  </tr>
<% @fantasy_team.minor_leaguers.each do |m| %>
  <tr>
    <td>
      <%= link_to "-", {:controller => 'roster_assignments', :action => 'destroy', :id => m.id}, :method => :delete, :confirm => "Are you sure you want to remove #{m.name}" %>
      <%= link_to m.name, m %>
    </td>
  </tr>
<% end %>
</table>

<p>
  <%= link_to "Edit", edit_fantasy_team_path(@fantasy_team) %> |
  <%= link_to "Destroy", @fantasy_team, :confirm => 'Are you sure?', :method => :delete %>
</p>
