<% form_for @player do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :nhl_team_id %><br />
    <%= f.text_field :nhl_team_id %>
  </p>
  <p>
    <%= f.label :beacon_id %><br />
    <%= f.text_field :beacon_id %>
  </p>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
