- content_for :javascript_includes do
  = javascript_include_tag "jquery/jquery.quicksearch.js", "quick_search.js"

%br
%hr

#content
  %table#draft_table
    %tbody
      - @players.each do |player|
        %tr.row
          %td.player-photo= image_tag player.photo.url(:thumb)
          %td.player-positions= player.positions.collect{|position| position.abbreviation}.join('/')
          %td.add-player= link_to(image_tag("icons/add_to_roster.png"), {:controller => 'roster_assignments', :action => 'create', :id => player.id}, :confirm => "Are you sure? This will draft #{player.name} onto CHANGEME!", :method => :post)
          %td.player-name= player.name
          %td.nhl-team-photo= image_tag player.nhl_team.photo.url(:thumb), :class => 'small-photo'
          %td.nhl-team-photo= link_to image_tag("icons/yahoo.gif"), "http://sports.yahoo.com/nhl/players/#{player.id}"

#sidebar
  %h3 F A N T A S Y  &nbsp; H O C K E Y &nbsp;  A P P
  %hr
  %ul#account_navigation
    - if current_user
      %li
        |
      %li= link_to "new league", new_league_path
      %li
        |
      %li= link_to "account", logout_path
      %li
        |
      %li= link_to "log out", edit_user_path(:current)
      %li
        |
    - else
      %li= link_to "register", new_user_path
      |
      %li= link_to "login", login_path
  %hr
  %p
    #liveSearch
  %p= link_to "New Player", new_player_path