<% title "Players" %>

<table>
  <tr>
    <th>Nhl Team</th>
    <th>Beacon</th>
    <th>First Name</th>
    <th>Last Name</th>
  </tr>
  <% for player in @players %>
    <tr>
      <td><%=h player.nhl_team_id %></td>
      <td><%=h player.beacon_id %></td>
      <td><%=h player.first_name %></td>
      <td><%=h player.last_name %></td>
      <td><%= link_to "Show", player %></td>
      <td><%= link_to "Edit", edit_player_path(player) %></td>
      <td><%= link_to "Destroy", player, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Player", new_player_path %></p>
