- content_for :javascript_includes do
  = javascript_include_tag "jquery/jquery.quicksearch.js", "quick_search.js"

%br
%hr

#content
  %br
  %table#draft_table
    %tbody
      %tr.row-header
        %td.player-photo
        %td.player-positions
        %td.add-player
        %td.player-name
          %h2 Player Name
        %td.player-stat
          %h2 G 
        %td.player-stat
          %h2 A 
        %td.player-stat
          %h2 +/- 
        %td.player-stat
          %h2 PIM 
        %td.player-stat
          %h2 PPP 
        %td.player-stat
          %h2 SHP 
        %td.player-stat
          %h2 HITS 
        %td.nhl-team-photo
        %td.nhl-team-photo
      - @players.each do |player|
        %tr.row
          %td.player-photo= image_tag player.photo.url(:thumb)
          %td.player-positions= player.positions.collect{|position| position.abbreviation}.join('/')
          %td.add-player= link_to(image_tag("icons/add_to_roster.png"), {:controller => 'roster_assignments', :action => 'create', :id => player.id}, :confirm => "Are you sure? This will add #{player.name} onto #{@current_fantasy_team.name}!", :method => :post)
          %td.player-name= player.name
          %td.player-stat= player.stats.last.goals
          %td.player-stat= player.stats.last.assists
          %td.player-stat= player.stats.last.plus_minus
          %td.player-stat= player.stats.last.penalty_minutes
          %td.player-stat= player.stats.last.powerplay_points
          %td.player-stat= player.stats.last.shorthanded_points
          %td.player-stat= player.stats.last.hits
          %td.nhl-team-photo= image_tag player.nhl_team.photo.url(:thumb), :class => 'small-photo'
          - if player.yahoo_id
            %td.nhl-team-photo= link_to image_tag("icons/yahoo.gif"), "http://sports.yahoo.com/nhl/players/#{player.yahoo_id}"

#sidebar
  %h3 F A N T A S Y  &nbsp; H O C K E Y &nbsp;  A P P
  %hr
  %ul#account_navigation
    - if current_user
      %li
        |
      %li= link_to "new league", new_league_path
      %li
        |
      %li= link_to "account", logout_path
      %li
        |
      %li= link_to "log out", edit_user_path(:current)
      %li
        |
    - else
      %li= link_to "register", new_user_path
      |
      %li= link_to "login", login_path
  %hr
  %p
    #liveSearch
  %p= link_to "New Player", new_player_path