- content_for :javascript_includes do
  = javascript_include_tag "jquery/jquery.quicksearch.js", "quick_search.js"

%br
%hr

#content
  %table#draft_table.photo-table
    %tbody
      %tr.row-header
        %td.player-photo
        %td.player-positions
        %td.add-player
        %td.player-name
        %td.player-owner Owned By
        %td.player-stat O-R 
        %td.player-stat Y-R 
        %td.player-stat.display-none G 
        %td.player-stat.display-none A 
        %td.player-stat.display-none +/- 
        %td.player-stat.display-none PIM 
        %td.player-stat.display-none PPP 
        %td.player-stat.display-none SHP 
        %td.player-stat.display-none H
        %td.nhl-team-name.display-none
        %td.nhl-team-photo
        %td.nhl-team-photo
      - @players.each do |player|
        %tr.row
          %td.player-photo= image_tag player.photo.url(:thumb)
          %td.player-positions= player.positions.collect{|position| position.abbreviation}.join('/')
          %td.add-player= link_to(image_tag("icons/add_to_roster.png"), {:controller => 'roster_assignments', :action => 'create', :id => player.id}, :confirm => "Are you sure? This will add #{player.name} to #{@current_fantasy_team.name}!", :method => :post)
          %td.player-name= player.name
          %td.player-owner= player.fantasy_teams.collect{|ft| ft.fantasy_seasons.collect{|fs| fs.id == @current_fantasy_season.id ? fs : '' }}.first.first rescue nil
          %td.player-stat= display_rank(player.yahoo_orank) rescue nil
          %td.player-stat= display_rank(player.yahoo_rank)  rescue nil
          %td.player-stat.display-none= player.stats.last.goals rescue nil
          %td.player-stat.display-none= player.stats.last.assists rescue nil
          %td.player-stat.display-none= player.stats.last.plus_minus rescue nil
          %td.player-stat.display-none= player.stats.last.penalty_minutes rescue nil
          %td.player-stat.display-none= player.stats.last.powerplay_points rescue nil
          %td.player-stat.display-none= player.stats.last.shorthanded_points rescue nil
          %td.player-stat.display-none= player.stats.last.hits rescue nil
          %td.nhl-team-name.display-none= player.nhl_team.abbreviation
          %td.nhl-team-photo= image_tag player.nhl_team.photo.url(:thumb), :class => 'small-photo'
          - if player.yahoo_id
            %td.nhl-team-photo= link_to image_tag("icons/yahoo.gif"), "http://sports.yahoo.com/nhl/players/#{player.yahoo_id}"
          - else
            %td.nhl-team-photo

#sidebar
  %h3 F A N T A S Y  &nbsp; H O C K E Y &nbsp;  A P P
  %hr
  %ul#account_navigation
    - if current_user
      %li
        |
      %li= link_to "new league", new_league_path
      %li
        |
      %li= link_to "account", logout_path
      %li
        |
      %li= link_to "log out", edit_user_path(:current)
      %li
        |
    - else
      %li= link_to "register", new_user_path
      |
      %li= link_to "login", login_path
  %hr
  %p
    #liveSearch
  %p= link_to "Switch View", '#', :class => 'switch-view'
