<% form_for @stat do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :game_id %><br />
    <%= f.text_field :game_id %>
  </p>
  <p>
    <%= f.label :player_id %><br />
    <%= f.text_field :player_id %>
  </p>
  <p>
    <%= f.label :games_played %><br />
    <%= f.text_field :games_played %>
  </p>
  <p>
    <%= f.label :goals %><br />
    <%= f.text_field :goals %>
  </p>
  <p>
    <%= f.label :assists %><br />
    <%= f.text_field :assists %>
  </p>
  <p>
    <%= f.label :points %><br />
    <%= f.text_field :points %>
  </p>
  <p>
    <%= f.label :hat_tricks %><br />
    <%= f.text_field :hat_tricks %>
  </p>
  <p>
    <%= f.label :plus_minus %><br />
    <%= f.text_field :plus_minus %>
  </p>
  <p>
    <%= f.label :shots %><br />
    <%= f.text_field :shots %>
  </p>
  <p>
    <%= f.label :penalties %><br />
    <%= f.text_field :penalties %>
  </p>
  <p>
    <%= f.label :penalty_minutes %><br />
    <%= f.text_field :penalty_minutes %>
  </p>
  <p>
    <%= f.label :powerplay_goals %><br />
    <%= f.text_field :powerplay_goals %>
  </p>
  <p>
    <%= f.label :powerplay_assists %><br />
    <%= f.text_field :powerplay_assists %>
  </p>
  <p>
    <%= f.label :powerplay_points %><br />
    <%= f.text_field :powerplay_points %>
  </p>
  <p>
    <%= f.label :shorthanded_goals %><br />
    <%= f.text_field :shorthanded_goals %>
  </p>
  <p>
    <%= f.label :shorthanded_assists %><br />
    <%= f.text_field :shorthanded_assists %>
  </p>
  <p>
    <%= f.label :shorthanded_points %><br />
    <%= f.text_field :shorthanded_points %>
  </p>
  <p>
    <%= f.label :game_winning_goals %><br />
    <%= f.text_field :game_winning_goals %>
  </p>
  <p>
    <%= f.label :game_tying_goals %><br />
    <%= f.text_field :game_tying_goals %>
  </p>
  <p>
    <%= f.label :hits %><br />
    <%= f.text_field :hits %>
  </p>
  <p>
    <%= f.label :faceoffs %><br />
    <%= f.text_field :faceoffs %>
  </p>
  <p>
    <%= f.label :faceoff_wins %><br />
    <%= f.text_field :faceoff_wins %>
  </p>
  <p>
    <%= f.label :faceoff_losses %><br />
    <%= f.text_field :faceoff_losses %>
  </p>
  <p>
    <%= f.label :shootout_attempts %><br />
    <%= f.text_field :shootout_attempts %>
  </p>
  <p>
    <%= f.label :shootout_misses %><br />
    <%= f.text_field :shootout_misses %>
  </p>
  <p>
    <%= f.label :shootout_goals %><br />
    <%= f.text_field :shootout_goals %>
  </p>
  <p>
    <%= f.label :wins %><br />
    <%= f.text_field :wins %>
  </p>
  <p>
    <%= f.label :losses %><br />
    <%= f.text_field :losses %>
  </p>
  <p>
    <%= f.label :overtime_wins %><br />
    <%= f.text_field :overtime_wins %>
  </p>
  <p>
    <%= f.label :overtime_losses %><br />
    <%= f.text_field :overtime_losses %>
  </p>
  <p>
    <%= f.label :shootout_wins %><br />
    <%= f.text_field :shootout_wins %>
  </p>
  <p>
    <%= f.label :shootout_losses %><br />
    <%= f.text_field :shootout_losses %>
  </p>
  <p>
    <%= f.label :goals_against %><br />
    <%= f.text_field :goals_against %>
  </p>
  <p>
    <%= f.label :shots_against %><br />
    <%= f.text_field :shots_against %>
  </p>
  <p>
    <%= f.label :saves %><br />
    <%= f.text_field :saves %>
  </p>
  <p>
    <%= f.label :shutouts %><br />
    <%= f.text_field :shutouts %>
  </p>
  <p>
    <%= f.label :games_started %><br />
    <%= f.text_field :games_started %>
  </p>
  <p>
    <%= f.label :credit_for_game %><br />
    <%= f.text_field :credit_for_game %>
  </p>
  <p>
    <%= f.label :shootout_defences %><br />
    <%= f.text_field :shootout_defences %>
  </p>
  <p>
    <%= f.label :shootout_saves %><br />
    <%= f.text_field :shootout_saves %>
  </p>
  <p>
    <%= f.label :minutes_played %><br />
    <%= f.text_field :minutes_played %>
  </p>
  <p>
    <%= f.label :shot_percentage %><br />
    <%= f.text_field :shot_percentage %>
  </p>
  <p>
    <%= f.label :faceoff_percentage %><br />
    <%= f.text_field :faceoff_percentage %>
  </p>
  <p>
    <%= f.label :shootout_goal_percentage %><br />
    <%= f.text_field :shootout_goal_percentage %>
  </p>
  <p>
    <%= f.label :goals_against_average %><br />
    <%= f.text_field :goals_against_average %>
  </p>
  <p>
    <%= f.label :save_percentage %><br />
    <%= f.text_field :save_percentage %>
  </p>
  <p>
    <%= f.label :shootout_save_percentage %><br />
    <%= f.text_field :shootout_save_percentage %>
  </p>
  <p>
    <%= f.label :shootout_goals_against %><br />
    <%= f.text_field :shootout_goals_against %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
