!!! XML
!!!
%html{ :lang => "en", 'xml:lang' => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{'http-equiv' => "Content-type", :content => "text/html;charset=UTF-8"}
    %title= "Fantasy Hockey App - " + controller.action_name 
    = stylesheet_link_tag 'draft.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = stylesheet_link_tag "jquery-ui-1.7.2.custom.css", "facebox.css"

    = yield :stylesheet_includes

    = javascript_include_tag "jquery/jquery.min.js", "jquery/jquery-ui-1.7.2.custom.min.js"
    = javascript_include_tag "initialize.js"
    = yield :javascript_includes
    = javascript_include_tag "application.js", "facebox.js"
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
      
  %body
    #container
      #header
        %ul#main_navigation
          - if current_user
            %li
              |
            %li= current_fantasy_season_state_path()
            %li
            %li= link_to "#{@current_fantasy_season.league.name} #{@current_fantasy_season.name}", fantasy_season_path(@current_fantasy_season)
            %li
              |
            %li= link_to @current_fantasy_team.name, fantasy_team_path(@current_fantasy_team)
            %li
              |
            %li= link_to "Players", players_path
            %li
              |
      
      - if flash[:notice]
        #flash_content.success
          %table.upcoming{ :id => "success" }
            %td.bottom_left{ :id => "success" }
              = flash[:notice]
      - if flash[:error]
        #flash_content.error
          %table.upcoming{ :id => "error" }
            %td.bottom_left{ :id => "error" }
              = flash[:error]
      = yield
