!!! XML
!!!
%html{ :lang => "en", 'xml:lang' => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{'http-equiv' => "Content-type", :content => "text/html;charset=UTF-8"}
    %title= "Fantasy Hockey App - " + controller.action_name 
    = stylesheet_link_tag 'draft.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = stylesheet_link_tag "jquery-ui-1.7.2.custom.css"
    = stylesheet_link_tag "infusion/framework/fss/css/fss-layout.css"
    = stylesheet_link_tag "infusion/framework/fss/css/fss-theme-mist.css"
    = stylesheet_link_tag "infusion/tests/manual-tests/lib/jquery/plugins/selectbox/selectbox.css"
    = yield :stylesheet_includes
    = stylesheet_link_tag "infusion/components/inlineEdit/css/InlineEdit.css"
    = javascript_include_tag "jquery/jquery.min.js", "jquery/jquery-ui-1.7.2.custom.min.js"
    = yield :javascript_includes
    = javascript_include_tag "jquery/jquery.quicksearch.js", "application.js"
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
      
  %body
    #container
      #header
        #title FANTASY HOCKEY APP
        %ul#account_navigation
          - if current_user
            %li
              |
            %li= link_to "profile", edit_user_path(:current)
            %li
              |
            %li= link_to "logout", logout_path
            %li
              |
          - else
            %li= link_to "register", new_user_path
            |
            %li= link_to "login", login_path
      
      - if flash[:notice]
        #flash_content.success
          %table.upcoming{ :id => "success" }
            %td.bottom_left{ :id => "success" }
              = flash[:notice]
      - if flash[:error]
        #flash_content.error
          %table.upcoming{ :id => "error" }
            %td.bottom_left{ :id => "error" }
              = flash[:error]
      = yield
